---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "wkid.configMap" . }}
  labels:
    {{- include "wkid.labels" . | nindent 4 }}
  {{- with .Values.configMap.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
data:
  configuration.json: |-
    {
      "issuer": "https://{{ include "wkid.hostname" . }}/openid/configuration.json",
      "jwks_uri": "https://{{ include "wkid.hostname" . }}/jwks.json",
      "response_types_supported": [
        "id_token"
      ],
      "subject_types_supported": [
        "public"
      ],
      "id_token_signing_alg_values_supported": [
        "RS256"
      ]
    }
